* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
  }
  
  .navbar {
    background: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: sticky;
    top: 0px;
    z-index: 999;
    color: aliceblue;
    padding-left: 3%;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    margin: 0 15px;
    padding: o auto;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    margin-right: 5%;
  }
  
  li{
    display:inline;
    padding:20px;
  }
  
  #navbar__logo {
    background: rgb(177, 54, 80);
    background-image: linear-gradient(
      to top,
      rgb(248, 48, 12) 0%,
      rgb(219, 145, 7) 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
  }
  
  .navbar__item {
    margin: 20px;
  }
  .navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  
  .navbar__links:hover {
    color: tomato;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 800px) {
    .navbar__container {
      display: flex;
      justify-content: center;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
      background: rgba(14, 13, 13);
      justify-content: center;
    }
  
    .navbar__menu.active {
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      font-size: 20px;
    }
  
    #navbar__logo {
      padding-right: 85%;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 2px;
      margin: 7px auto;
      transition: all 0.3s ease-in-out;
      background: white;
    }
  
    .navbar__item {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  
    .navbar__links {
      text-align: center;
      padding: 20px;
      width: 100%;
      display: table;
    }
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
    .nevbar__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;
    }
    .button {
      display: flex;
      justify-content: center;
      padding: 5px;
      height: 40px;
      width: 100%;
      cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(135deg);
    }
  }
  h2{
    color: tomato;
    text-align: center;
    margin-top: 20px;
  }